[Unit]
Description = Jellyfin inside of netns container
After = network-online.target beacon-openvpn.service

[Service]
Type=simple
EnvironmentFile=/etc/jellyfin/jellyfin.env
User=jellyfin
Group=jellyfin
WorkingDirectory=/var/lib/jellyfin
ExecStart=/etc/openvpn/helpers/netns-exec /usr/bin/jellyfin $JELLYFIN_WEB_OPT $JELLYFIN_RESTART_OPT $JELLYFIN_FFMPEG_OPT $JELLYFIN_SERVICE_OPT $JELLYFIN_NOWEBAPP_OPT $JELLYFIN_ADDITIONAL_OPTS
Restart=on-failure
TimeoutSec=15
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
